#rect {
    position: relative;
    height: 50%;
    width: 50%;
    border: 2px solid blue;
    margin: auto;
    margin-top: 300px;
}

#smallrect {
    height: 100px;
    width: 200px;
    border: 2px solid red;
    position: absolute;
    top: 200px;
}