body {
    margin: 0;
    background-color: rgb(212, 185, 185);

}

a {
    text-decoration: none;
    color: black;
}

hr#header {
    margin: 0 auto;
    width: 88%;
    clear: both;
}

header {
    width: 100%;
    height: 12dvh;
    position: fixed;
    top: 0;
}

header>div {
    height: 100%;
}

header>#left {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header>#left>div {
    margin-right: 2dvw;
    height: 40%;
    display: flex;
    align-items: flex-end;
}
header>div>div>a {
    font-family: 'Roboto';
    margin-bottom: none;
    font-size: larger;
}

header>#left>div#logo {
    margin-left: 5dvw;
    margin-right: 4dvw;
    height: 70%;
}

header>#left>div#logo>a {
    font-family: 'Playwrite BE VLG';
    font-size: xx-large;
}

header>#right {
    float: right;
    display: flex;
    align-items: center;
}

header>#right>#start>a {
    padding: 12px 20px;
    border: 2px solid black;
    border-radius: 19%/50%;
    float: right;
    margin-top: 1dvh;
    margin-right: 5dvw;
}

#content {
    margin-top: 20dvh;
}

#content>.container>img {
    margin: auto;
    display: block;
    width: 50%;
    height: auto;
}
#content>.container>.textbox {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}