body {
    background-color: hsl(30, 54%, 90%);
}
.center {
    margin: 0px auto;
}

div.main {
    background-color: hsl(0, 0%, 100%);
    width: 740px;
    height: min-content;
    border-radius: 30px;
    display: grid;
    row-gap: 64px;
    padding: 42px;
}

img {
    width: 100%;
    height: 339px;
    border-radius: 12px;
    margin: 0px;
    display: block;
}

#name_and_description {
    display: grid;
}
#name_and_description > .h1 {
    margin: 46px 0px 0px 0px;
}
#name_and_description > .descript {
    margin: 25px 0px 0px 0px;
}

p {
    font-family: 'Outfit';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin: 0px;
}

li {
    font-family: 'Outfit';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin: 0px;
}

#prepare_time {
    padding-left: 26px;
}
#ingredient {
    margin: 0px;
}

div > ul{
    margin: 0px;
    padding-top: 9px;
}

div > ul > li {
    margin-top: 6px;
    line-height: 2;
}

div > ul > li::marker {
    color: hsl(332, 51%, 32%);
}

div > ol{
    margin: 0px;
    padding-top: 9px;
    padding-left: 26px;
}

div > ol > li {
    margin-top: 6px;
    line-height: 1.5;
    list-style-position: outside;
}
div > ol > li > span {
    position: relative;
    left: 20px;
}



div > ol > li::marker {
    color: hsl(332, 51%, 32%);
}

table {
    width: 100%;
    padding: 0px 18px;
}

td {
    font-family: 'Outfit';
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0px;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    margin: 0px;
    
    height: 48px;
}

.h1 {
    color: hsl(24, 5%, 18%);
    font-family: 'Young Serif';
    font-size: 48px;
    line-height: 1;
}

.h2 {
    color: hsl(14, 45%, 36%);
    font-family: 'Young Serif';
    font-size: 34px;
    line-height: 1;
    margin-bottom: 9px;
}

.h3 {
    color: hsl(332, 51%, 32%);
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}
.bolder {
    font-weight: 700;
} 

.White {
    background-color: hsl(0, 0%, 100%);
}
.Stone100 {
    background-color: hsl(30, 54%, 90%);
}
.Stone150 {
    background-color: hsl(30, 18%, 87%);
}
.Stone600 {
    background-color: hsl(30, 10%, 34%);
}
.Stone900 {
    background-color: hsl(24, 5%, 18%);
}
.Brown900 {
    background-color: hsl(14, 45%, 36%);
}
.Rose800 {
    background-color: hsl(332, 51%, 32%);
}
.Rose50 {
    background-color: hsl(330, 100%, 98%);
}
