:root {
    --neutralTomato: hsl(4, 100%, 67%);
    --primaryDarkSlateGrey: hsl(234, 29%, 20%);
    --primaryCharcoalGrey: hsl(235, 18%, 26%);
    --primaryGrey: hsl(231, 7%, 60%);
    --primaryWhite: hsl(0, 0%, 100%);
    --normal: 400;
    --bold: 700;
    box-sizing: border-box;
    background-color: var(--primaryCharcoalGrey);
}

* {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--primaryCharcoalGrey);
    margin: 0;
    padding: 0;
    line-height: 1;
}

.main_SignupForm {

    display: grid;
    background-color: var(--primaryWhite);
    img {
        width: 100%;
        height: auto;
    }

    .content {
        display: grid;
        row-gap: 1.5em;
        padding: 1.5em;

        h1 {
            font-size: 2.5em;
            font-weight: var(--bold);
            color: var(--primaryDarkSlateGrey);
        }

        p,
        ul>li {
            line-height: 1.4;
        }

        ul {
            padding: 0em 1.5em;
            display: grid;
            row-gap: 1em;
        }

        form {
            * {
                display: block;
            }

            label {
                font-size: 0.8em;
                font-weight: var(--bold);
                margin-bottom: 1em;
            }

            input,
            button {
                border-radius: 0.5em;
                padding: 1.25em;
            }

            input {
                width: 100%;
                box-sizing: border-box;
                border: 1px solid var(--primaryGrey);
            }

            button {
                margin-top: 1.5em;
                width: 100%;
                font-weight: var(--bold);
                color: var(--primaryWhite);
                background-color: var(--primaryDarkSlateGrey);
                border: none;
            }
        }
    }
}

@media(min-width: 48em) {
    body {
        background-color: var(--primaryCharcoalGrey);
    }
    .main_SignupForm {
        margin: auto;
        width: 80%;
        height: 80%;
        img {
            grid-column: 2/3;
            grid-row: 1/2;
            height: 100%;
            width: auto;
        }
        .content {
            grid-column: 1/2;
            grid-row: 1/2;
        }
    }
}

.hidden {
    display: none;
}